* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

.navbar {
  background-color: #1f2937;
  width: 100%;
}

.navbar-content {
  color: white;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  padding-top: 16px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.logo {
  width: 50px;
  color: #f9faf8;
}

.nav-links {
  display: flex;
  gap: 16px;
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  width: 100%;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  gap: 70px;
  padding-bottom: 150px;
}

.left-hero {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-paragraph {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up {
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  padding: 8px 32px;
  border-radius: 7px;
  align-self: flex-start;
}

.right-hero {
  width: 550px;
  height: 250px;
}

.information-header {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 40px;
}

.imgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  gap: 50px;
  margin: 0 auto;
  padding-bottom: 150px;
}

.img-p-container {
  flex: 0;
  text-align: center;
  color: #1f2937;
}

.img-p-container img {
  border-radius: 10px;
  border: 3px solid #3882f6;
}

.quote-background {
  background-color: #e5e7eb;
}

.quote-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 150px 0px 150px 0px;
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  font-style: italic;
}

cite {
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
  margin-right: 0;
}

.call-to-action-content {
  margin: 100px auto 100px auto;
  padding: 50px;
  max-width: 1000px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #3882f6;
}

.call-to-action-content button {
  padding: 1px 40px;
  color: white;
  border-radius: 10px;
  border: 3px solid white;
  font-weight: bold;
  font-size: 15px;
  background-color: #3882f6;
}

.footer {
  background-color: #1f2937;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 40px;
}
